body {
    font-family: Arial, sans-serif;
}

a{
    color: grey;
}

header {
    background: #003580;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.hero {
    background: url('../images/homePage/index-background.jpg') no-repeat center center;
    background-size: cover;
    color: whitesmoke;
    padding: 50px 20px;
    text-align: center;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.feature {
    background: lightgray;
    padding: 20px;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer input, footer button {
    margin-top: 10px;
}


