@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/PTSans-Regular.ttf") format("woff2"),
    url("fonts/PTSans-Regular.ttf") format("woff");
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url("fonts/PTSans-Bold.ttf") format("woff2"),
    url("fonts/PTSans-Bold.ttf") format("woff");
}

html {
    height: 100%;
}

.main-index {
    flex-grow: 1;
    background-color: whitesmoke;
    background-image: url("../images/homePage/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    /*page-container*/
    /*width: 940px;*/
    /*margin: 0 auto;*/
}

.welcome {
    padding: 10px;
    text-align: center;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
}

/* Index columns */
.index-columns {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    color: #242424;
    background-color: #FBF7F4;
    /*background-image: url("images/bg-noisy.png");*/
}

header {
    color: #FFFFFF;
    background-color: #000000;
}

nav {
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.navigation {
    margin: 0;
    padding: 0;
    width: 430px;
}

.second-menu {
    margin-left: auto;
    max-width: 250px;
}

.items{
    width: 277px;
}

a {
    /*color: #FFFFFF;*/
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'PT Sans', serif;
    font-size: 16px;
    line-height: 24px;
}

.page-footer-container {
    display: flex;
    width: 940px;
    margin: 0 auto;
    background-color: cornflowerblue;
}

/*CATALOG*/
.catalog-index {
    background-color: whitesmoke;
    background-image: url("../images/catalog/background.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: whitesmoke;
}

.catalog-index h1 {
    padding: 20px;
    font-size: 60px;
    font-weight: 700;
    margin: 10px;
}

.catalog-index section {
    padding: 20px;
    background: darkgray;
}

.catalog-load-more {
    padding: 20px;
    text-align: center;
    background: #83B3D3;
    width: 619.83px;
    height: 60px;
    top: 1568px;
    left: 330px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0;
}

/*TODO apply these styles*/

/* Item */
.hotel-card {
    background-color: #FFFFFF;
}

/* Link */
.hotel-card-link {
    text-decoration: none;
}

/* Title */
.hotel-card-title {
    font-weight: 700;
    color: #242424;
}

/* Price */
.hotel-card-price {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #814B18;
    text-transform: uppercase;
}




